# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
.vscode/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# Generated docs
**/doc/api/

# Android
**/android/.gradle/
**/android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/.symlinks/
**/ios/Pods/

# Symbolication / obfuscation
app.*.symbols
app.*.map.json
